p {
    color: black;
    font-size: 20px;
}

.content-container {
    width: 65%;
    margin: 2%;
    border: 3px solid grey;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.space-button {
    width: 70%;
}   

.info-container {
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
}

.content-title {
    font-size: 18px !important;
}

.content-description {
    font-size: 14px !important;
    height: 45px;
}

.card-container-box {
    padding: 15px 10px 10px 10px !important;
}

.card-action-box {
    height: 51px;
}
