.content-container-detail {
    width: 100%;
    margin: 2%;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-text-detail{
  font-size: 18px;
  /*margin-left: 3%;*/
  padding-bottom: 0.1px;
}
 .card-title-detail{
   padding-left: 0%;
   padding-bottom: 5px;
}

.titleEventos {
  margin-top: 50px;
  margin-left: 46px;
  font-size: 40px;
  margin-bottom: 0;
}