p {
    color: black;
    font-size: 20px;
}

.content-container {
    width: 70%;
    margin: 2%;
    border: 3px solid grey;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.space-button {
    width: 90%;
}   

.info-container {
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
}