.btn-proy-crear {
  display: inline-block;
  background-color: #269BD5;
  color: white;
  border: 5px solid #269BD5 !important;
  margin: 3% auto;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border-radius: 6px;
  padding: 8px;
  font-weight: bold;
  height: fit-content;
}
.paper-crear{
  overflow-y:scroll;
  position: absolute;
  width: 375px;
  height: 95%;/*700px;*/
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
  border-radius: 15px;
}
@media (max-width: 376px) {
  .paperr{
      width: 95%;
  
  }
}
.paper-crear::-webkit-scrollbar {
  
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}
.paper-crear::-webkit-scrollbar-track{
  margin-top: 40px;
  margin-bottom: 40px;
}
  

.paper-crear::-webkit-scrollbar-thumb{    
  border-radius: 5px;
  width: 8px;
  background-color: #b8b8b8;
  
}
.btn-proy-editar {
  display: inline-block;
  background-color: #3B3B3B;
  color: white;
  border: 5px solid #3B3B3B !important;
  margin: 3% auto;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border-radius: 6px;
  padding: 8px;
  font-weight: bold;
  height: fit-content;
}



.btn-proy:focus {
  outline: none;
}

.btn-proy:active {
  transform: scale(0.98);
}

.btn-proy-block {
  display: block;
  width: 100%;
}

.btn-proy-block-cancel {
  display: block;
  width: 42%;
}

#gen-form {
  position: fixed;
  top: 0;
  right: 31%;
  width: 35%;
  margin: 3% auto;
  background-color: rgb(250, 250, 250);
  /*border: 1px solid grey;*/
  border-radius: 7%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 15px rgba(0,0,0,0.22);
  z-index: 10;
}

.form-control-proy {
  margin: 7px;
  border: none;
  background-color: inherit;
}

.form-control-proy  label {
  display: block;
}

.form-control-proy  input {
  background-color: #FFFFFF;
  border: 1px solid #c0c0c0;
  width: 100%;
  height: 40px;
  padding: 3px 5px;
  font-size: 17px;
  border-radius: 6px;
  margin: 7px 0px 7px 0px;
  position: relative;
  color: #c0c0c0;
}

.form-control-proy .requerido {
  border: 3px solid red ;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.underlayer-proy {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.crear-container-title {
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

.btn-crear-container {
  padding-top: 6px;
  display:flex;
}

.dropdown-proyectos{
  padding-right: 0px;
  border: 1px solid #c4c4c4;
  width: 100%;
  border-radius: 6px;
  font-size: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 40px;
}
