/* .crearEvento {
  text-align: center;
}

.crearEvento-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .crearEvento-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.crearEvento-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.crearEvento-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .Proyecto{
  width: 49%;
  float: right;

} */

/* .Modalidad{
  width: 49%;

} */



/* .proyecto-input{ 
  width: 100%;
} */

a {
  color: #ED2020;
  text-decoration: none;
}


.BtnRegistrar{
  background-color: #B3DA3F;
  margin-right: 4px;


}

.BtnCancelar{
  background-color: #ED2020;

}

.CamposBotones{
  float: inline-end;
  float:right;
  margin-top: 12px;
}

.InLine{
  display:inline-block
}

.Fecha, .Modalidad, .Categoria,.HoraFin{
  width: 33%;


}

.Lugar,.HoraInicio{
  width: 33%;
  margin-left: 4px;
  margin-right: 4px;

}

.Modalidad{
  width: 33%;


}

.modalidad-input{ 
  width: 100%;
}

.descripcion-input{
  height: 100px;
}



.FormEvento{
  width: 70%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: #F2F2F2;
  padding: 15px;
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.14), 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.CamposInferiores,.CamposMedios{
  text-align: center;
}



