.crearEvento {
  text-align: center;
}

.crearEvento-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .crearEvento-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.crearEvento-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.crearEvento-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BtnRegistrar{
  background-color: #B3DA3F;

}

.BtnCancelar{
  background-color: #ED2020;
}

.InLine{
  display:inline-block
}

.Fecha{
  width: 49%;
  float: left;
}

.Lugar{
  width: 49%;
  float: right;
}

.Proyecto{
  width: 49%;
  float: right;

}

.Modalidad{
  width: 49%;

}

.modalidad-input{
  
  width: 100%;
}

.proyecto-input{
  
  width: 100%;
}

a {
  color: #ED2020;
  text-decoration: none;
}