.editarButton {
<<<<<<< HEAD
    background-color: #46AFEF;
=======
    background-color: #0D6296;
>>>>>>> 5ba9490 (Mas refactorizacion)
    border: none;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
