.editarButton {
    background-color: #0D6296;
    border: none;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.edit-button {
    border-radius: 30px;
    width: 20px;
    background-color: #b9b7b7;
}

.edit-icon {
    color: #545454;
    margin: 0;
    padding: 0;
}
