@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
<!--test-->
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

.container1 {
  width: 90%;
  margin: 50px auto;
}
.heading1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.card1 {
  width: 90%;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  position: relative;
}

.card-header1 {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
}

.card-body1 {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body1 .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card1 {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container1 {
    width: 100%;
  }

  .heading1 {
    padding: 20px;
    font-size: 20px;
  }

  .card1 {
    width: 80%;
  }
}
<!--test-->

.media {
  height: '256px';
}
.Button {
  color: red;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.card-evn{
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.card-info{
  padding-left: 5%;
}

#ModalFormCrearEvento {
  width: 500px;
  background-color: #f2f2f2 !important;
  text-align: center;
  padding: 3px;
  border-radius: 8px;
}

.formularioCrearEvento {
  background-color: #f2f2f2;
}

.Titulo {
  margin-bottom: 20px !important;
  background-color: #f2f2f2;
}

.textInput {
  width: 90%;
  color: #eae9e9;
  margin-bottom: 25px !important;
}

.botonActualizar {
  background-color: #888888 !important;
  color: white !important;
  width: 50%;
  margin: 4px !important;
}

.botonCancelar {
  background-color: white !important;
  color: #f00000 !important;
  width: 45%;
  margin: 4px !important;
  border: 1px solid red !important;
}

.botonActualizar:hover {
  background-color: #1694d2 !important;
  color: white !important;
}

.botonCancelar:hover {
  background-color: #f00000 !important;
  color: white !important;
}

.CamposBotones {
  width: 100%;
  padding: 5px;
  margin-top: -15px;
}

.modal-content {
  background-color: #f2f2f2;
}

.botonEditarEvento {
  width: 30%;
}

.TituloListaParticipantes {
  margin-top: 10px;
}

.CategoriaEventoCrear,
.liderEventoCrear,
.nombreEventoCrear,
.ProyectoEventoCrear {
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 1px solid #888888;
  color: black !important;
  text-align: center;
  z-index: 0;
}

.LabelProyectoCrearEvento,
.LabelLiderCrearEvento,
.LabelCategoriaCrearEvento,
.LabelModalidadCrearEvento {
  font-size: 0.8em;
  z-index: 1;
  position: absolute;
  left: 40px;
  color: #888888 !important;
}

.TituloListaParticipantes {
  margin-top: 10px;
  }
  
  h1{
      padding-left: 16%;
      padding-bottom: 25px;
  }
  
  .header-lista-eventos {
      top: 35%;
      padding-left: 15.5%;
  }
  
  .span-align{
      padding-left: 10px;
      padding-right: 5px;
    }

  .Modal{
    font-family: 'DM Sons', sons-serif;
  }