#ModalFormEditEvento {
  width: 400px;
  background-color: #eae9e9;
  text-align: center;
  padding: 3px;
  border-radius: 8px;
}

.Titulo {
  margin-bottom: 5px;
}

.textInput {
  width: 90%;
  color: #eae9e9;
  margin-bottom: 25px !important;
}

.botonActualizar {
  background-color: blue;
}

.botonCancelar {
  background-color: red;
}

.CamposBotones {
}
