#ModalFormCrearEvento {
  width: 500px;
  background-color: #f2f2f2 !important;
  text-align: center;
  padding: 3px;
  border-radius: 8px;
}

.formularioCrearEvento {
  background-color: #f2f2f2;
}

.Titulo {
  margin-bottom: 20px !important;
  background-color: #f2f2f2;
}

.textInput {
  width: 90%;
  color: #eae9e9;
  margin-bottom: 25px !important;
}

.botonActualizar {
  background-color: #888888 !important;
  color: white !important;
  width: 50%;
  margin: 4px !important;
}

.botonCancelar {
  background-color: white !important;
  color: #f00000 !important;
  width: 45%;
  margin: 4px !important;
  border: 1px solid red !important;
}

.botonActualizar:hover {
  background-color: #1694d2 !important;
  color: white !important;
}

.botonCancelar:hover {
  background-color: #f00000 !important;
  color: white !important;
}

.CamposBotones {
  width: 100%;
  padding: 5px;
  margin-top: -15px;
}

.modal-content {
  background-color: #f2f2f2;
}

.botonEditarEvento {
  width: 30%;
}

.TituloListaParticipantes {
  margin-top: 10px;
}

.CategoriaEventoCrear,
.liderEventoCrear,
.nombreEventoCrear,
.ProyectoEventoCrear {
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 1px solid #888888;
  color: black !important;
  text-align: center;
  z-index: 0;
}

.LabelProyectoCrearEvento,
.LabelLiderCrearEvento,
.LabelCategoriaCrearEvento,
.LabelModalidadCrearEvento {
  font-size: 0.8em;
  z-index: 1;
  position: absolute;
  left: 40px;
  color: #888888 !important;
}


.card-text{
  font-size: 18px;
  margin-left: 105px;
}

.card{
  margin-top: 50px;
  border: #ffffff 0.1px solid;
  border-radius: 15px;
}

.card-title{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 118px;
}

.card-list-1{
  padding-left: 25px;
  font-size: 24px;
  padding-bottom: 20px;
}

.card-list{
  padding-left: 25px;
  font-size: 18px;
}

.col-auto{
  padding-top: 5%;
  padding-left: 5%;
}
*{
margin: 0;
padding: e;
box-sizing: border-box;
}
.container1{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
font-family: 'Nunito', sans-serif;
padding: 0 20px;
}
.card-container{
display: flex;
width: 600px;
height: auto;
background:#fff;
border-radius: 2px;
box-shadow: 1px 1px 4px 2px Orgba(e, e, e, .2);
}
.header{
border-right: 1px solid Iaddd;
        }        I
.descripcion{
background: #af1c12;
}

.header, .descripcion{
  padding: 20px;
  text-align: justify;
}
.header a{
  position: relative;
  display: block;
}
.header img{
  box-shadow: 0 0 0 spx Orgba(e, e, e, .06);
  margin: 20px 30px;
  transition: .2s;
}
.header a:hover img{
  box-shadow: e00 12px Orgba (0, e, e, .1);
}
.header h4{
  margin-bottom: 20px;
}

.descripcion{
  position: relative;
  border: #ffffff 0.1px solid;/*si se quiere ver el cuadro que contiene a todos los detalles del evento*/
  border-radius: 16px;
}

.descripcion p{
  margin: 20px 30px;
  width: 800px;
}

.tittleEvent{
  text-align: left;
  padding-top: 2%;
  padding-left: 12%;
}