.container{
    background-color: #ffffff;
    color: #021a29;
}

.btn-container{
    float: left;
    border: 1px solid;
    border-color: black;
    width: 15cm;
    height: 10cm;
    background-color: #eff2f5;
    margin-top: 1cm;
    margin-left: 5cm;
    

}
.gen-info-container{
    border: 1px solid;
    border-color: black;
    background-color: #eff2f5;
    float: right;
    margin-right: 3cm;
    margin-top: 1cm;
    width: 10cm;
    height: 10cm;
    
}

.paperr{
    overflow-y:scroll;
    
    position: absolute;
    width: 430px;
    height: 630px;
    padding: 20px 10px;
    background: #F2F2F2;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
@media (max-width: 376px) {
    .paperr{
        width: 100%;
        height: 80%;
    
    }
  }
.paperr::-webkit-scrollbar {
    
    width: 8px;
    background-color: transparent;
    border-radius: 5px;
}
.paperr::-webkit-scrollbar-track{
    margin-top: 40px;
    margin-bottom: 40px;
}
    

.paperr::-webkit-scrollbar-thumb{    
    border-radius: 5px;
    width: 8px;
    background-color: #b8b8b8;
    
}
.picture{
    border: 1px solid;
    border-color: black;
    background-color: #EDF1F4;
    border-radius: 60%;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 47%;
}
.name{
    /* float: right; */
    position:absolute;
    top: 24.2cm;
    right: 21.2cm;
}
.tabs{
    /* float: right; */
    margin-left: 1cm;
    margin-bottom: 1cm;
}